[submodule "git_projects/zlib"]
	path = git_projects/zlib
	url = https://github.com/madler/zlib
	ignore = dirty

[submodule "git_projects/git"]
	path = git_projects/git
	url = https://github.com/git/git.git
