[submodule "git_projects/zlib"]
	path = git_projects/zlib
	url = https://github.com/madler/zlib
	ignore = dirty

[submodule "git_projects/git"]
	path = git_projects/git
	url = https://github.com/git/git.git
[submodule "cpp/lib/googletest"]
	path = cpp/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/thirdparty/googletest"]
	path = cpp/thirdparty/googletest
	url = https://github.com/google/googletest/
